<h2>Log In</h2>
<div>
  <%= form_for(:session, url: login_path) do |f| %>

  <div class='field'>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class='field'>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  </div class='action'>
    <%= f.submit 'Log In' %>
  <% end %>

  <p><%= link_to 'Sign up', signup_path %></p>
</div>
