<header>
  <div>
    <% if logged_in? %>
      <span>Welcome, </span>
      <%= current_user.name %>
      <span>|</span>
      <%= link_to 'Sign out', logout_path, method: :delete %>
      <span>|</span>
      <%= link_to 'Basket:', basket_path %>
      <span id='basket_qty'><%= current_basket_qty %></span>
    <% else %>
      <%= link_to 'Sign in', login_path %>
      <span>|</span>
      <%= link_to 'Sign up', signup_path %>
      <p class='notice-success'>Please Sign In to manage your basket.</p>
    <% end %>
  </div>
</header>

<h2>Products</h2>

<%= render 'products_table', products: @products %>
